<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>perspect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static\logo.png">
    <link rel="stylesheet" href="static\styles.css">
      
</head>

<body>


    <header>
      <nav> 
        <h1>thumblr</h1>

        <h2>download images and thumbnails <mark>anywhere!</mark> </h1>
      </nav>
      <h1 class="intro2"> download thumbail and images from YouTube, pinterest,  instagram, facebook, twitter ,tiktok and many more ....</h1>
    </header>

    <section class="main2">
      <form  class="options" >
        <input type="text" placeholder="paste link to a video or image..." required>
        <!-- <textarea name="search_query" id="search_query_input" value="a movie where an old man and young boy trave back in time ..." required></textarea> -->
        <button type="submit" class="process_link" id="search_query_button" name="formbutton">
          get-image
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	          <path  d="M20.56 3.17c-.29-.2-.67-.23-.99-.08l-17 8.01c-.36.17-.58.53-.57.92c0 .39.24.75.6.9l3.36 1.47L16 8l-7 8v6l5.46-3.9l4.14 1.81c.13.06.26.08.4.08c.18 0 .36-.05.52-.15a.99.99 0 0 0 .48-.79l1-15c.02-.35-.14-.69-.43-.89Z" />
          </svg>
        </button>
      </form>
      
    </section>

    <section class="content">
      <!-- to thumbler -->
      <span><h1>welcome!</h1></span>

      <div>
        <div><img src="static\Annotation 2026-05-12 022948.png" alt=""></div>
        <button>download 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          	<path  d="M11.625 15.513q-.175-.063-.325-.213l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.712T12 4t.713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062t-.375-.062M6 20q-.825 0-1.412-.587T4 18v-2q0-.425.288-.712T5 15t.713.288T6 16v2h12v-2q0-.425.288-.712T19 15t.713.288T20 16v2q0 .825-.587 1.413T18 20z" />
          </svg>
        </button>
      </div>

            <div>
        <div><img src="static\Spider-Man_ Across the Spider-Verse.png" alt=""></div>
        <button>download 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          	<path  d="M11.625 15.513q-.175-.063-.325-.213l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.712T12 4t.713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062t-.375-.062M6 20q-.825 0-1.412-.587T4 18v-2q0-.425.288-.712T5 15t.713.288T6 16v2h12v-2q0-.425.288-.712T19 15t.713.288T20 16v2q0 .825-.587 1.413T18 20z" />
          </svg>
        </button>
      </div>

      <div>
      <div><img src="static\Annotation 2026-05-12 022948.png" alt=""></div>
       <button>download 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          	<path  d="M11.625 15.513q-.175-.063-.325-.213l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.712T12 4t.713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062t-.375-.062M6 20q-.825 0-1.412-.587T4 18v-2q0-.425.288-.712T5 15t.713.288T6 16v2h12v-2q0-.425.288-.712T19 15t.713.288T20 16v2q0 .825-.587 1.413T18 20z" />
          </svg>
        </button>
      </div>

      <div>
        <div><img src="static\Spider-Man_ Across the Spider-Verse.png" alt=""></div>
        <button>download 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          	<path  d="M11.625 15.513q-.175-.063-.325-.213l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.712T12 4t.713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062t-.375-.062M6 20q-.825 0-1.412-.587T4 18v-2q0-.425.288-.712T5 15t.713.288T6 16v2h12v-2q0-.425.288-.712T19 15t.713.288T20 16v2q0 .825-.587 1.413T18 20z" />
          </svg>
        </button>
      </div>

    </section>

   
    <section class="about">
      <h1> thumblr <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      	<path fill="none" stroke="hsl(25, 100%, 42%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.5 10.5h2V18m0 0H15m-2.5 0H10m1.5-11V6h1v1z" />
        </svg>
      </h1>

      <p>
        paste a link and download a thumbnail to a video its that simple !
        <br>
        eius et, ullam accusamus adipisci nobis magni nemo
        eveniet illo soluta commodi voluptas quia incidunt.
        Mollitia ex fuga voluptate ipsa! Aperiam doloremque
        illo voluptatem quod porro odio debitis dicta molestiae?
      </p>
      <button>see more</button>
    </section >
    

    <section  class="faqs">

      <h1>whats to know <p>?</p></h1>


      <details name="accordion">
        <summary> how to use </summary>
          <p>
            Lorem ipsum dolor sit amet consectetur adi
            pisicing elit. Expedita illum consequuntur ne
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details>
          
      <details name="accordion">
        <summary> supported platforms ?</summary>
          <p>
            Lorem ipsum dolor sit amet consectetur adi
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details> 
          
      <details name="accordion">
        <summary> faq3
        </summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eum, alias!
            Lorem ipsum dolor sit amet consectetur adi
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details>  
          
      <details name="accordion">
        <summary> know how we handle your data</summary>
            <p>
            Lorem ipsum dolor sit amet consectetur adi
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details>        
            
    </section >
    

    <section class="feat">
      <span>
        <h1>our features </h1>
        <p> a little bit of this and a little bit of that... </p>
      </span>
      
      <div>

        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          	<g fill="none" stroke="hsl(25, 100%, 42%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          		<rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
          		<path d="M7 11V7a5 5 0 0 1 9.9-1" />
          	</g>
          </svg>
          free
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>

      </div>
      
      <div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          	<path fill="hsl(25, 100%, 42%)" d="M20 20v1h1v-1zm-4.293-5.707a1 1 0 0 0-1.414 1.414zM19 14v6h2v-6zm1 5h-6v2h6zm.707.293l-5-5l-1.414 1.414l5 5zM4 20H3v1h1zm5.707-4.293a1 1 0 0 0-1.414-1.414zM3 14v6h2v-6zm1 7h6v-2H4zm.707-.293l5-5l-1.414-1.414l-5 5zM20 4h1V3h-1zm-5.707 4.293a1 1 0 0 0 1.414 1.414zM21 10V4h-2v6zm-1-7h-6v2h6zm-.707.293l-5 5l1.414 1.414l5-5zM4 4V3H3v1zm4.293 5.707a1 1 0 0 0 1.414-1.414zM5 10V4H3v6zM4 5h6V3H4zm-.707-.293l5 5l1.414-1.414l-5-5z" />
          </svg>
          no signup required
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>
        
      <div>
        <h1>private</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>  

      <div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
	          <g fill="none">
	          	<path fill="hsl(25, 100%, 42%)" fill-rule="evenodd" d="m27.649 48.634l-.119.044l-1.23.461A15.87 15.87 0 0 0 16 64a4 4 0 0 0 4 4h40a4 4 0 0 0 4-4a15.87 15.87 0 0 0-10.3-14.86l-1.23-.462l-.119-.044l-6.443 5.456a9.14 9.14 0 0 1-11.816 0z" clip-rule="evenodd" />
	          	<path fill="hsl(25, 100%, 42%)" d="m27.53 48.678l.702 1.873zm.119-.044l1.292-1.526a2 2 0 0 0-1.988-.349zm-1.349.505l.702 1.873zm27.4 0l-.702 1.873zm-1.23-.46l-.702 1.872zm-.119-.045l.695-1.875a2 2 0 0 0-1.987.349zm-6.443 5.456l-1.292-1.527zm-11.816 0l1.292-1.527zm-5.86-3.539l.112-.041l-1.39-3.751l-.126.047zm-1.23.461l1.23-.46l-1.404-3.746l-1.23.46zM18 64a13.87 13.87 0 0 1 9.002-12.988l-1.404-3.745A17.87 17.87 0 0 0 14 64zm2 2a2 2 0 0 1-2-2h-4a6 6 0 0 0 6 6zm40 0H20v4h40zm2-2a2 2 0 0 1-2 2v4a6 6 0 0 0 6-6zm-9.002-12.988A13.87 13.87 0 0 1 62 64h4a17.87 17.87 0 0 0-11.598-16.733zm-1.23-.46l1.23.46l1.404-3.745l-1.23-.461zm-.112-.042l.112.041l1.404-3.745l-.126-.047zm-.597-3.402l-6.443 5.455l2.584 3.053l6.444-5.455zm-6.443 5.455a7.14 7.14 0 0 1-9.232 0L32.8 55.616a11.14 11.14 0 0 0 14.4 0zm-9.232 0l-6.443-5.455l-2.585 3.053l6.444 5.455z" />
	          	<path fill="hsl(25, 100%, 42%)" d="M42 56.255a2 2 0 0 0-4 0zM38 68a2 2 0 1 0 4 0zm0-11.745V68h4V56.255z" />
	          	<path stroke="hsl(25, 100%, 42%)e" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M27.034 18.843c6.386-8.835 19.546-8.835 25.933 0l6.614 9.15a12 12 0 0 1-1.97 16.188L45.907 54.09a9.14 9.14 0 0 1-11.816 0L22.39 44.18a12 12 0 0 1-1.971-16.188z" />
	          	<path fill="hsl(25, 100%, 42%)" fill-rule="evenodd" d="M52.967 18.843c-6.387-8.834-19.546-8.834-25.933 0l-6.615 9.15a11.97 11.97 0 0 0-2.218 8.202A32.96 32.96 0 0 1 40.001 28a32.97 32.97 0 0 1 21.798 8.194c.277-2.82-.44-5.741-2.218-8.201z" clip-rule="evenodd" />
	          	<path fill="hsl(25, 100%, 42%)" d="m27.034 18.843l1.62 1.172zm25.933 0l-1.621 1.172zm-32.548 9.15L18.8 26.82zm-2.218 8.202l-1.99.195a2 2 0 0 0 3.308 1.309zm43.598 0l-1.318 1.504a2 2 0 0 0 3.308-1.31zm-2.218-8.202l-1.62 1.172zm-30.927-7.978c5.589-7.73 17.103-7.73 22.692 0l3.241-2.343c-7.185-9.94-21.989-9.94-29.174 0zm-6.614 9.15l6.615-9.15l-3.242-2.343l-6.615 9.15zm-1.848 6.834a9.97 9.97 0 0 1 1.848-6.834l-3.242-2.344a13.97 13.97 0 0 0-2.587 9.569zm-.673 1.7A30.96 30.96 0 0 1 40 30v-4a34.96 34.96 0 0 0-23.117 8.69zM40 30c7.846 0 15.01 2.904 20.48 7.699l2.637-3.009A34.96 34.96 0 0 0 40 26zm17.96-.835a9.97 9.97 0 0 1 1.849 6.834l3.98.39a13.97 13.97 0 0 0-2.587-9.568zm-6.614-9.15l6.614 9.15l3.242-2.344l-6.615-9.15z" />
	          	<path fill="hsl(25, 100%, 42%)" fill-rule="evenodd" d="M31.896 22.357c3.992-5.522 12.216-5.522 16.208 0l.415.573A39.2 39.2 0 0 0 40 22a39.2 39.2 0 0 0-8.518.931zm-3.914 14.445a13.347 13.347 0 0 0 24.036 0A27 27 0 0 0 40 33.999c-4.32 0-8.397 1.007-12.018 2.803" clip-rule="evenodd" />
	          </g>
          </svg>
          private
          </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>

      <div>
        <h1>private</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>  

      <div>
        <h1>fast</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>

    </section>


    <footer>
      <div class="div1">

        <h3 class="h1"> more updates underway, <mark class="tuned">stay tuned !</mark></h3>

        <form class="updates">
            <input type="email" placeholder=" send us your@gmail.com to get notified... " id="email_input_element" required>
            <button type="submit" id="email_input_button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	              <path  fill-rule="evenodd" d="M3.879 5.879C3 6.757 3 8.172 3 11v2c0 2.828 0 4.243.879 5.121C4.757 19 6.172 19 9 19h6c2.828 0 4.243 0 5.121-.879C21 17.243 21 15.828 21 13v-2c0-2.828 0-4.243-.879-5.121C19.243 5 17.828 5 15 5H9c-2.828 0-4.243 0-5.121.879m2.676 2.289a1 1 0 0 0-1.11 1.664l5.446 3.63a2 2 0 0 0 2.218 0l5.446-3.63a1 1 0 0 0-1.11-1.664L12 11.798z" clip-rule="evenodd" />
              </svg>
            </button>
        </form>

          <p> Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Eaque nisi consectetur 
            impedit modi explicabo mollitia.
          </p>

      </div>

      <div class="div2">

        <div>
          <hr>
          <a href="/info"> about </a>
        </div>

        <div>
          <hr> 
          <a href="/info"> privacy </a>
        </div>

      </div>

      <div class="div3">
          <h3 class="h2"> &copy;searchflix </h3>
          <h3 class="h3"> 2026 </h3>
      </div>

    </footer>

</body>
<script src="static\index.js"></script>