<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>perspect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="static\logo.png"> -->
    <link rel="stylesheet" href="static\styles.css">
    <meta name="c20e1e35d347442900e1eb04ae46f6c831d50f9d" content="c20e1e35d347442900e1eb04ae46f6c831d50f9d" />

</head>

<body>

    <header>
      <nav> 
        <h1>thumblr</h1>

        <!-- <h2>download images and thumbnails <mark>anywhere!</mark> </h1> -->
        <h2>download images and thumbnails from <mark>YouTube</mark></h1>
      </nav>
    </header>
    
    <main>
      <div class="divs">
        <script>
(function(ntcopg){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = ntcopg || {};
s.src = "\/\/shameful-farm.com\/bcX.VysZdaGHlt0ZYYW\/cm\/keqmP9Ku\/ZDU\/l\/kJPITXcaxHNvDVI-3hMHjhkPtQNFzMEv0XM\/jTcfzEMLwd";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
      </div>
      
      <section class="center">

      <h1 class="intro2"> download thumbail and images from YouTube, pinterest,  instagram, facebook, twitter ,tiktok and many more ....</h1>

        <form  class="options" id="input_form">
          <input type="url" placeholder="paste link to a video or image..." id="search_query_input" required>
          <button type="submit" class="process_link" id="search_query_button" name="formbutton">
              process link
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	              <path  d="M14 9a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0" />
	              <path fill-rule="evenodd" d="M7.268 4.658a54.7 54.7 0 0 1 9.465 0l1.51.132a3.14 3.14 0 0 1 2.831 2.66a30.6 30.6 0 0 1 0 9.1a3.14 3.14 0 0 1-2.831 2.66l-1.51.131c-3.15.274-6.316.274-9.465 0l-1.51-.131a3.14 3.14 0 0 1-2.832-2.66a30.6 30.6 0 0 1 0-9.1a3.14 3.14 0 0 1 2.831-2.66zm9.335 1.495a53 53 0 0 0-9.206 0l-1.51.131A1.64 1.64 0 0 0 4.41 7.672a29 29 0 0 0-.311 5.17L7.97 8.97a.75.75 0 0 1 1.09.032l3.672 4.13l2.53-.844a.75.75 0 0 1 .796.21l3.519 3.91l.014-.08a29.1 29.1 0 0 0 0-8.656a1.64 1.64 0 0 0-1.478-1.388zm2.017 11.435l-3.349-3.721l-2.534.844a.75.75 0 0 1-.798-.213l-3.471-3.905l-4.244 4.243q.073.748.185 1.491a1.64 1.64 0 0 0 1.478 1.389l1.51.131c3.063.266 6.143.266 9.206 0l1.51-.131c.178-.016.35-.06.507-.128" clip-rule="evenodd" />
              </svg>
          </button>
        </form>
      
        <!-- to thumbler -->

        <span class="info"><h1 id="info_text">welcome!</h1>
          <p id="error_message">
            an error occured !.... <br> 
            try any of these ; <br>
            <mark>check</mark> your internet connection. <br> 
            input a <mark>valid</mark> url. <br>
            <mark>verify</mark> your input.  <br> 
            <mark>refresh</mark> page !.
          </p>
        </span>
      
        <div id="image_card">

          <div><img src="static\Annotation 2026-05-12 022948.png" alt=""></div>
          <button id="download_button" class="download_button"> download 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            	<path  d="M11.625 15.513q-.175-.063-.325-.213l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.712T12 4t.713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062t-.375-.062M6 20q-.825 0-1.412-.587T4 18v-2q0-.425.288-.712T5 15t.713.288T6 16v2h12v-2q0-.425.288-.712T19 15t.713.288T20 16v2q0 .825-.587 1.413T18 20z" />
            </svg>
          </button>

        </div>

      </section>
      
      <div class="divs"> 
        <script>
(function(ntcopg){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = ntcopg || {};
s.src = "\/\/shameful-farm.com\/bcX.VysZdaGHlt0ZYYW\/cm\/keqmP9Ku\/ZDU\/l\/kJPITXcaxHNvDVI-3hMHjhkPtQNFzMEv0XM\/jTcfzEMLwd";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
      </div>
    </main>

   
    <section class="about">
      <h1> thumblr
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> -->
      	<!-- <path fill="none" stroke="hsl(25, 100%, 42%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.5 10.5h2V18m0 0H15m-2.5 0H10m1.5-11V6h1v1z" /> -->
        <!-- </svg> -->
      </h1>

      <p>
        paste a link and download a thumbnail to a video its that simple !
        <br>
        eius et, ullam accusamus adipisci nobis magni nemo
        eveniet illo soluta commodi voluptas quia incidunt.
        Mollitia ex fuga voluptate ipsa! Aperiam doloremque
        illo voluptatem quod porro odio debitis dicta molestiae?
      </p>
      <button>see more</button>
    </section >
    

    <section  class="faqs">

      <h1>whats to know <p>?</p></h1>


      <details name="accordion">
        <summary> how to use </summary>
          <p>
            Lorem ipsum dolor sit amet consectetur adi
            pisicing elit. Expedita illum consequuntur ne
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details>
          
      <details name="accordion">
        <summary> supported platforms ?</summary>
          <p>
            Lorem ipsum dolor sit amet consectetur adi
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details> 
          
      <details name="accordion">
        <summary> faq3
        </summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eum, alias!
            Lorem ipsum dolor sit amet consectetur adi
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details>  
          
      <details name="accordion">
        <summary> know how we handle your data</summary>
            <p>
            Lorem ipsum dolor sit amet consectetur adi
            cessitatibus ipsam! Ullam, ut ipsum optio cupi
            ditate aliquid officiis! Maxime aliquam mollitia
            sit cupiditate accusamus dolores cum, illo ab!
          </p>
      </details>        
            
    </section >
    

    <section class="feat">
      <span>
        <h1>our features </h1>
        <p> a little bit of this and a little bit of that... </p>
      </span>
      
      <div>

        <h1>
          free
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>

      </div>
      
      <div>
        <h1>
          no pre signup 
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>
        
      <div>
        <h1>private</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>  

      <div>
        <h1>
          private
          </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>

      <div>
        <h1>private</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>  

      <div>
        <h1>fast</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel?</p>
      </div>

    </section>


    <footer>
      <div class="div1">

        <h3 class="h1"> more updates underway, <mark class="tuned">stay tuned !</mark></h3>

        <form class="updates">
            <input type="email" placeholder=" send us your@gmail.com to get notified... " id="email_input_element" required>
            <button type="submit" id="email_input_button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	              <path  fill-rule="evenodd" d="M3.879 5.879C3 6.757 3 8.172 3 11v2c0 2.828 0 4.243.879 5.121C4.757 19 6.172 19 9 19h6c2.828 0 4.243 0 5.121-.879C21 17.243 21 15.828 21 13v-2c0-2.828 0-4.243-.879-5.121C19.243 5 17.828 5 15 5H9c-2.828 0-4.243 0-5.121.879m2.676 2.289a1 1 0 0 0-1.11 1.664l5.446 3.63a2 2 0 0 0 2.218 0l5.446-3.63a1 1 0 0 0-1.11-1.664L12 11.798z" clip-rule="evenodd" />
              </svg>
            </button>
        </form>

          <p> Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Eaque nisi consectetur 
            impedit modi explicabo mollitia.
          </p>

      </div>

      <div class="div2">

        <div>
          <hr>
          <a href="/info"> about </a>
        </div>

        <div>
          <hr> 
          <a href="/info"> privacy </a>
        </div>

      </div>

      <div class="div3">
          <h3 class="h2"> &copy;thumbler</h3>
          <h3 class="h3"> 2026 </h3>
      </div>

    </footer>

</body>
<script src="static\index.js"></script>